// base color
$--color-text-sub: #778ca2;
$--primary-color:#3b7ddd;
$--success-color: #38B086;
$--warning-color: #F4A137;
$--danger-color: #f9463f;
$--info-color: #666666;

// slide-menu 
$--slide-menu-textcolor:rgba(233,236,239,.5);
$--slide-menu-textcolor-hover:rgba(233,236,239,.8);
$--slide-menu-width:260px;
$--slide-menu-minwidth:70px;
$--slide-menu-bg-color: #222e3c;
$--slide-menu-bg-image:none;
// $--slide-menu-bg-image:linear-gradient(#485078, #333b61);
$--active-bg-color:transparent;
$--active-bg-image:none;

// header
$--header-menu-bg-color: #ffffff;
$--header-menu-height: 70px;
